div .adHome {
    background-image: url('https://src.arneby.com/web/home_banner.webp');
    background-size: cover;
    background-position: center;
}

.pageText{
    padding-top: 40px;
    align-self: center;
    gap: 10px;
    line-height: 26px;
    max-width: 800px;
}

.pageError{
    padding-top: 40px;
    align-self: center;
    gap: 10px;
    line-height: 26px;
    max-width: 800px;
    align-items: center;
    text-align: center;
    min-height: 60vh;
    justify-content: center;

    h1 {
        color: $cGray4;
    }
}

.listCategories {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.catSingle {
    padding: 4px 10px;
    background: $cGrayRed;
    color: $cBlack;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-3px);
        background: $cBlack;
        color: $cWhite;
    }
}

//Cuenta
.profile {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid $cBlack;

    img {
        border-radius: 10px;
        overflow: hidden;
    }

    .txt {
        font-weight: 500;
        font-size: 17px;
        color: $cBlack;
    }
}

//Forms
.field {
    display: grid;
    width: 100%;
}


//Noticias
.notice{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    background: $cInfo;
    color: $cInfoTxt;

    &.error {
        background: $cError;
        color: $cErrorTxt;
    }

    &.success {
        background: $cSuccess;
        color: $cSuccessTxt;
    }
}

//Banner with Overlay
.banner {
    border-radius: 20px;
    min-height: 400px;
    background: $cPrimary;
    position: relative;
    overflow: hidden;
    color: $cWhite;
    padding: 30px;
    display: flex;
    justify-content: end;

    .banner-content {
        display: grid;
        justify-items: left;
        gap: 4px;
        position: relative;

        h1 {line-height: 35px;padding: 0px;}
        p {padding-bottom: 15px;}
    }

    &:before {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.7));
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
}