footer {
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .menuFooter {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .item, a {
            color: $cGray5;
            font-size: 15px;
            font-weight: 400;
            transition: all 0.2s ease-in-out;
            
            &:hover {
                color: $cPrimaryHover;
            }
        }
    }

    .credits {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
            max-width: 140px;
            height: auto;
        }

        p {
            font-size: 14px;
            color: $cGray4;
        }
    }
}

.menuMobile {
    width: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background: $cWhite;
    border-top: 1px solid $cGray2;

    @include computer(){
        display: none;
    }

    @include tablet(){
        display: flex;
    }

    @include mobile(){
        display: flex;
    }


    .content {
        max-width: 400px;
        min-height: 45px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3px;

            .icon {
                height: 30px;
            }
        }
    }
}