.loginform {
    max-width: 350px;
    align-self: center;
    padding: 90px 0px;
    min-height: 70vh;
    justify-content: start;
    gap: 10px;

    a {
        color: $cPrimaryHover;
        text-decoration: underline;
    }
}