extends ./layouts/main

block header
  include ./components/head

block content
  section
    .container
      .block.postForm
        h2.sub-hero Haz conocer tu Evento
        form(name='register', action="/new-event", method="post")
          .field
            label(for='title') Titulo: 
            input(type='text', name='title', required='', placeholder='¿Como se llama tu evento?')
          .field
            label(for='description') Descripcion: 
            textarea(type='textarea', name='description', required='', placeholder='¿De que va a tratar tu evento?')

          .dGrid.col2
            .field
              label(for='category') Categoria: 
              select(name='category', title="Selecciona la categoria del evento")
                option(value='musica') Música
                option(value='arte') Arte
                option(value='deporte') Deporte

            .field
              p.label ¿Tu evento es presencial?
              .switchForm
                p Virtual
                .switch
                  input(type='checkbox', name='presencial', id='presencial')
                  label(for='presencial')
                p Presencial

          .field
            label(for='price') (USD) Precio: 
            input(type='number', name='price', step='0.01', placeholder='¿Cuál es el precio del evento?')

          .field
            label(for='startDate') Fecha de Inicio: 
            input(type='datetime-local', id="startDate", name='startDate')

          .field
            label(for='endDate') Fecha de Fin: 
            input(type='datetime-local', id="endDate", name='endDate')

          .field
            label(for='map') Mapa:
            // Aquí puedes agregar el código para integrar un mapa

          .dGrid.col2
            .field
              label(for='latitude') Latitud: 
              input(type='text', name='latitude', disabled)

            .field
              label(for='longitude') Longitud: 
              input(type='text', name='longitude', disabled)

          .field
            label(for='address') Dirección: 
            input(type='text', name='address', placeholder='¿Dónde se llevará a cabo el evento?')

          .field
            label(for='thumbnail') Imagen del evento: 
            input(type='file', name='thumbnail', accept='.jpg, .jpeg, .png, .webp', required)

          .field
            input.btn-dark(type='submit', value='Estrenar Evento')

        if err
          p.notice.error #{err}
        if ok
          p.notice.success #{ok}


block footer
  include ./components/footer


block scripts