extends ./layouts/main

block header
  include ./components/head

block content
  section
    .container
      .block
        .singleEvent
          img(src="https://src.arneby.com/web/port_party_demo.jpg", alt="Imagen del evento")
          div.txt
            p.txtBold Nombre del Evento
            p Tributo a Marc Anthony
            p.txtBold Descripción del Evento
            p.txtJustify Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque nesciunt nisi magnam praesentium perspiciatis quam, fugit, quas error corrupti totam. Impedit natus voluptatum repudiandae earum iusto, obcaecati tenetur nesciunt.
            p.txtBold Dirección:
            p Dirección del Evento
          div.Data
            div 
              p.txtBold Categoría:
              p Categoría del Evento
            div
              p.txtBold Precio:
              p Precio del Evento
            div 
              p.txtBold Fecha de Inicio:
              p Fecha de inicio del Evento
            div 
              p.txtBold Fecha de Fin:
              p Fecha de fin del Evento
            

block footer
  include ./components/footer
