extends ./layouts/main
block header
  include ./components/head

block content
  section
    .container
      .block.loginform
        h2.sub-hero Recupera tu Contrase&ntilde;a
        form(name='register', action="", method="post")
          .field
            label(for='email') Tu correo: 
            input#user(type='email', name='email', required='', placeholder='jhon@example.com')
          .field
            input.btn-dark(type='submit', value='Recuperar Contraseña')

        if err
          p.notice.error #{err}
        if ok
          p.notice.success #{ok}

        p
          | &iquest;No tienes una cuenta? 
          a(target='_self', href='./register') Registrate Aqu&iacute;


block footer
  include ./components/footer