extends ./layouts/main

block codeHead
  <link rel="preload" href="https://src.arneby.com/web/home_banner.webp" as="image">
  <link rel="preload" href="https://src.arneby.com/web/port_party_demo.jpg" as="image">

block header
  include ./components/head

block content
  section
    .container
      .block.banner.wx100.adHome
        .banner-content
          h1 Descubre los Eventos Cercanos
          p Explora un mundo de emociones y diversión con Arneby. Encuentra eventos emocionantes cerca de ti
          a.btn-white(href="/") Explorar Eventos
      .block
        h2 ¿Que tipo de evento quieres conocer? 👀
        .dFlex.listCategories
          if categories && categories.length
            each category in categories
              a.catSingle(href=`/${category.slug}`)= category.name

      if events && events.length > 0
        .block
          h2 Estos son los eventos más populares 🔥
          .dGrid.gridEvents
            //- Iteramos sobre cada evento
            each event in events
              //- Renderizamos cada evento usando tu componente eventLoop
              include ./components/eventsLoop.pug
      else
        .block
          h2 No hay eventos disponibles

block footer
  include ./components/footer