doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name=viewport, content="width=device-width, initial-scale=1")
    link(href="./styles/style.css", rel="stylesheet")
    title My aplication
  body
    h1 tailwind css + pug + arneby
    p.text-xl this is my aplication