extends ./layouts/init

block header
  include ./components/head

block content
    .gap-20.marg-t20
      h1.hero
        | Posiciona tu sitio web con contenido 
        cw Profesional
      p.txt-big.mx-width-600
        | CleverWritify: la verdadera herramienta para generar contenido optimizado para SEO, datos actuales, ranking, comparativas y mucho m&aacute;s.
      a.btn-dark(href='./register') &iexcl;Quiero Probar!
    .txt-acenter.align-icenter.marg-lauto.marg-rauto.border-r2.back-gray.pad-20.marg-t80.marg-b40.gap-20.bk-img1.mn-height-600.txt-cwhite.justify-ccenter
      h2.sub-hero.txt-cwhite
        | Ahorra 
        cw Tiempo
        |  y enfocate en Ganar M&aacute;s
      p.txt-big.mx-width-600
        | Ahorra tiempo al evitar la publicaci&oacute;n manual y conc&eacute;ntrate en la creaci&oacute;n de m&aacute;s sitios web para aumentar tus ganancias en l&iacute;nea.
    .gap-20
      h2.sub-hero
        | Conoce nuestros 
        cw Precios
      p.txt-big.mx-width-600
        | Cada publicaci&oacute;n ser&aacute; econ&oacute;mica y de la mejor calidad. Con CleverWritify, podr&aacute;s generar miles de publicaciones de manera rentable y profesional.
      .pricing
        .price
          .amount-price
            span.txt-currency US$
            span.txt-price 2,99
          span 10 Creditos
        .price
          .amount-price
            span.txt-currency US$
            span.txt-price 13,99
          span 50 Creditos
        .price
          .amount-price
            span.txt-currency US$
            span.txt-price
              | 26,99
          span 100 Creditos
        .price
          .amount-price
            span.txt-currency US$
            span.txt-price 39,99
          span 150 Creditos
    p
      | Cada credito equivale a 1 publicacion, pero tambien se pueden usar con otros servicios a futuro (proximamente categorizacion automatica)
