extends ./layouts/main

block codeHead
  <link rel="preload" href="https://src.arneby.com/web/home_banner.webp" as="image">

block header
  include ./components/head

block content
  section
    .container
      .block.banner.wx100.adHome
        .banner-content
          h1 Descubre los Eventos Cercanos
          p Explora un mundo de emociones y diversión con Arneby. Encuentra eventos emocionantes cerca de ti
          a.btn-white(href="/") Explorar Eventos
      .block
        h2 ¿Que tipo de evento quieres conocer? 👀
        .dFlex.listCategories
          a.catSingle(href="/") Conciertos
          a.catSingle(href="") Festivales
          a.catSingle(href="") Eventos deportivos
          a.catSingle(href="") Conferencias y charlas
          a.catSingle(href="") Exposiciones y ferias
          a.catSingle(href="") Actividades al aire libre
          a.catSingle(href="") Arte y cultura
          a.catSingle(href="") Gastronomía y comida
          a.catSingle(href="") Cine y teatro
          a.catSingle(href="") Fiesta
      .block
        h2 Estos son los eventos más populares 🔥
        .dGrid.gridEvents
          article.eventLoop(style="background-image: url('https://src.arneby.com/web/port_home_demo.webp')")
            .eventContent
              .data
                .distance 5km de ti
                .flag Popular
              span.price
                span.priceUnit $5.99
                | USD
              .rate
                span.star.fill
                span.star.fill
                span.star.fill 
                span.star.half
                span.star
              h3 Shinomiya Deluxe
              span.city Santo Domingo
              p.date Para: 5/Feb/2024, 5:00am

          article.eventLoop(style="background-image: url('https://src.arneby.com/web/port_home_demo.webp')")
            .eventContent
              .data
                .distance 5km de ti
                .flag Popular
              .price
                span.priceUnit $5.99
                span.pCurrency USD
              .rate
                .star.Fill
                .star.Fill
                .star.Fill 
                .star.Fill
                .star.Empty
              h3 Shinomiya Deluxe
              span.city Santo Domingo
              p.date Para: 5/Feb/2024, 5:00am
          

          article.eventLoop(style="background-image: url('https://src.arneby.com/web/port_home_demo.webp')")
            .eventContent
              .data
                .distance 5km de ti
                .flag Popular
              .price
                span.priceUnit $5.99
                span.pCurrency USD
              .rate
                .star.Fill
                .star.Fill
                .star.Fill 
                .star.Fill
                .star.Empty
              h3 Shinomiya Deluxe
              span.city Santo Domingo
              p.date Para: 5/Feb/2024, 5:00am

          
          article.eventLoop(style="background-image: url('https://src.arneby.com/web/port_home_demo.webp')")
            .eventContent
              .data
                .distance 5km de ti
                .flag Popular
              .price
                span.priceUnit $5.99
                span.pCurrency USD
              .rate
                .star.Fill
                .star.Fill
                .star.Fill 
                .star.Fill
                .star.Empty
              h3 Shinomiya Deluxe
              span.city Santo Domingo
              p.date Para: 5/Feb/2024, 5:00am



          article.eventLoop(style="background-image: url('https://src.arneby.com/web/port_home_demo.webp')")
            .eventContent
              .data
                .distance 5km de ti
                .flag Popular
              .price
                span.priceUnit $5.99
                span.pCurrency USD
              .rate
                .star.Fill
                .star.Fill
                .star.Fill 
                .star.Fill
                .star.Empty
              h3 Shinomiya Deluxe
              span.city Santo Domingo
              p.date Para: 5/Feb/2024, 5:00am
      .block
        h2 Apresurate ya mismo empiezan 😱
      .block
        h2 Estos son los eventos más cercanos 😎