extends ./layouts/main

block header
  include ./components/head

block content
  section
    .container
      .block.loginform
        h2.sub-hero Registrate
        form(name='register', action="/register", method="post")
          .field
            label(for='name') Nombre: 
            input#user(type='text', name='name', required='', placeholder='Tus Nombres')
          .field
            label(for='lastname') Apellido: 
            input#user(type='text', name='lastname', required='', placeholder='Tus Apellidos')
          .field
            label(for='email') Email: 
            input#email(type='email', name='email', required='', placeholder='jhon@example.com')
          .field
            label(for='password') Contrase&ntilde;a: 
            input#password(type='password', name='password', required='', placeholder='********')
          .field
            input.btn-dark(type='submit', value='Registrarme')

        if err
          p.notice.error #{err}
        if ok
          p.notice.success #{ok}
        p
          | &iquest;Ya tienes una cuenta?
          a(target='_self', href='./login') Inicia Sesion


block footer
  include ./components/footer