doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Arneby | Conoce los nuevos eventos
    link(rel='stylesheet', href='/styles/normalize.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/index.min.css')
    <link rel="icon" href="/img/iconWeb.svg" sizes="32x32">
    <link rel="icon" href="/img/iconWeb.svg" sizes="192x192">
    script(src='/js/app.js', defer)
  body
    header
      block header
    main
      block content
    footer
      block footer
