.container
    .block
        ul.menuFooter
            li.item
                a(href='/support') Soporte
            li.item
                a(href='/terms') Terminos y condiciones
            li.item
                a(href='/privacy') Politica de Privacidad
            li.item
                a(href='/legal') Aviso Legal
        .credits
            img.logo(src='/img/logo.svg' alt='Logo')
            p &copy; 2024 Arneby - Todos los derechos reservados

