.container
    .block
        ul.menuFooter
            li.item
                a(href='/support') Soporte
            li.item
                a(href='/cookies') Cookies
            li.item
                a(href='/terms') Terminos y condiciones
            li.item
                a(href='/privacy') Politica de Privacidad
            li.item
                a(href='/legal') Aviso Legal
        .credits
            img.logo(src='/img/logo.svg' alt='Logo')
            p &copy; 2024 Arneby - Todos los derechos reservados
.menuMobile
    .content
        a(href="/").item
            img.icon(src="/icon/home.svg", alt="Inicio")
            p.txt Inicio
        a(href="/account/post").item
            img.icon(src="/icon/plus.svg", alt="Publicar")
            p.txt Publicar
        a(href="/account").item
            img.icon(src="/icon/user.svg", alt="Cuenta")
            p.txt Cuenta
