.container
    .block
      a.logo(href='/')
        img(src="/img/logo.svg", alt="Arneby")
      .menu
        a.item-menu(href='/panel')
          | Match
        a.item-menu(href='/panel')
          | Tops
        a.item-menu(href='/panel')
          | Recomendado

      .headbtn
        if logged
          a.btn(href="/account/post")
            | Publicar
          a.btn(href="/account/fav")
            | Favoritos
          a.avatar(href="/account")
            img(src="/img/avatar.svg", alt="Avatar")
        else
          a.btn(href="/login")
            | Identificate

